#!/usr/bin/env bash
cd `dirname $0`
pwd 
## rabbitmq 
export RMQ_HOST=localhost
export RMQ_VHOST=/
export RMQ_USERNAME=myuser
export RMQ_PASSWORD=secret
export RMQ_TRANSCRIPTION_REQUESTS_QUEUE=transcription-requests

## s3
export S3_REGION=us-east-1
export S3_TRANSCRIPTION_AUDIO_BUCKET=${USER}-transcription-input-bucket

if [ "$(which bw )" != "" ]; then

    which bw
    export BW_SESSION="$(bwu)"
    export S3_ACCESS_KEY=$(bw get username bootiful-podcast-s3-production)
    export S3_ACCESS_KEY_SECRET=$(bw get password bootiful-podcast-s3-production)
else
    echo "lpass not found. please configure these variables yourself"
fi

