#!/usr/bin/env bash

## rabbitmq 
export RMQ_HOST=localhost
export RMQ_VHOST=/
export RMQ_USERNAME=myuser
export RMQ_PASSWORD=secret
export RMQ_TRANSCRIPTION_REQUESTS_QUEUE=transcription-requests

## s3
export S3_REGION=us-east-1
export S3_TRANSCRIPTION_AUDIO_BUCKET=${USER}-transcription-input-bucket
# export S3_TRANSCRIPTION_TRANSCRIPTS_BUCKET=${USER}-transcription-output-bucket

if [ "$(which lpass )" != "" ]; then
    export S3_ACCESS_KEY=$(lpass show  --username bootiful-podcast-s3-production)
    export S3_ACCESS_KEY_SECRET=$(lpass show --password bootiful-podcast-s3-production)
else
    echo "lpass not found. please configure these variables yourself"
fi

