#!/usr/bin/env bash


TOML_FILE=$HOME/.config/direnv/direnv.toml
ls -la $TOML_FILE || echo "you should specify a direnv warn_timeout in $TOML_FILE; see https://direnv.net/man/direnv.toml.1.html "

# configure $HOME/.config/direnv/direnv.toml to have a longer timeout
# [global]
# warn_timeout = "5m"

cd `dirname $0`

## rabbitmq 
export RMQ_HOST=localhost
export RMQ_VHOST=/
export RMQ_USERNAME=myuser
export RMQ_PASSWORD=secret
export RMQ_TRANSCRIPTION_REQUESTS_QUEUE=transcription-requests

## s3

export S3_REGION=us-east-1
export S3_TRANSCRIPTION_AUDIO_BUCKET=${USER}-transcription-input-bucket

if [ "$(which bw)" != "" ]; then
    bw logout 
    export BW_SESSION="`bw login --raw`"
    export S3_ACCESS_KEY=$(bw get username youtube-assistant-s3-production)
    export S3_ACCESS_KEY_SECRET=$(bw get password youtube-assistant-s3-production)
else
    echo "bw not found. please configure these variables yourself"
fi

